/*
 * new views
 */
#newviewtabs. {
	width:430px;
	}
.newimageview{
	float:left;
	}
.separador {
    background-color: green;
    display: block;
    height: 1px;
    margin: 40px 0 20px;
    width: 430px;
	color:#FFF;
}
.separador2 {
	color: green;
}
.newtitleview {
	font-family:Arial;
	font-size:17px;
	float:right;
	width:300px;
	}
.newtitleview  a{
	color:black;
	}
.newtitleview2 {
	font-family:Arial;
	font-size:17px;
	float:right;
	width:320px;
	}
.newtitleview2 a{
	color:black;
	}
.newtaxonomytermsview{
	font-size:11px;
	text-transform:uppercase;
	float:right;
	width:300px;
	}
.newtaxonomytermsview a{
	color:#c2383d;
	}
.newtaxonomytermsview2{
	font-size:11px;
	text-transform:uppercase;
	float:right;
	width:300px;
	}
.newtaxonomytermsview2 a{
	color:#f6c470;
	}
.newviewmagazinetype{
	height:0;
	left:128px;
	position:relative;
	text-align:right;
	top:-131px;
	}
.newstandfirsview{
	font-family:helvetica;
	float:right;
	width:300px;
	}
.newreadmoreview{
	font-size:10px;
	float:right;
	color:#339900;
	width:300px;
	text-align:right;
	}
.newreadmoreview a{
	color:#339900;}
.field-name-field-standfirst- {
	font-size:15px;
	margin-bottom:20px;
	}

.field-name-field-by {
	margin-bottom:15px;
	}
	
.banners .views-row {
	float:left;
	padding-top:5px;
	padding-right:10px;
	position:relative;
	top:-15px;
}
/*
 * node events section
 */

.node-events .field-type-image{
	height:0;
	}
.node-events .field-type-text {
    margin-left: 208px;
}
.node-events .field-type-datetime {
	margin-left:208px;}
.node-events .field-name-field-standfirst- {
	margin-left:210px;}
	
.node-events .field-name-body {
	margin-left:210px;}
	
.node-events .field.field-name-field-map.field-type-google-map-field.field-label-hidden {
	position:relative;
	left:200px;}

.typodeevento {
    height: 0;
    margin-left: 200px;
    position: relative;
    text-transform: uppercase;
    top: -183px;
}
.titleevents {
    font-family: arial;
    font-size: 17px;
    height: 0;
    margin-left: 200px;
    position: relative;
    top: -161px;
}
.standfirstevents {
    font-family: Georgia;
    height: 0;
    margin-left: 200px;
    position: relative;
    top: -158px;
	}
.field-content.readmoreevents {
    font-size: 10px;
    margin-left: 540px;
    position: relative;
    top: -30px;
}

/*
 * new tabs
 */
 .newimagetab{
	}
.newtitletab {
	font-family:arial;
	font-size:17px;
	width:300px;
	float:right;
	}
.newtitletab a{
	color:black;
	}
.newarticletypetab {
	font-weight:bold;
	text-transform:uppercase;
	}
.newarticletypetab a{
	color:#000;
	}
.newtaxonomytermstab{
	font-style:italic;
	left:112px;
	position:relative;
	top:-110px;
	}
.newtaxonomytermstab a{
	color:#000;
	}
.newtabmagazinetype{
	font-size:11px;
	left:110px;
	position:relative;
	text-align:left;
	top:-109px;
	text-transform:uppercase;
	}
.newtabmagazinetype a{
	color:#C2383D;}
.newstandfirstab{
	width:300px;
	float:right;
	}
.newreadmoretab{
	font-size:15px;
	font-weight:bold;
	left:338px;
	position:relative;
	top:-29px;
	height:0;
	}

/*
 * slideshow
 */

.titulofeature {
	position:relative;
	top:10px;
	
	
	}
	
.imagentabs {
	float:left;
	padding-right:10px;
	}

/*
 * quicktabs
 */	
 
.block-quicktabs {
	height:180px;
	}


/*
 * primera columna
 */	
#primeracolumna {
	position:absolute;
	width:182px;
	}
	
#tituloprimera {
	font-weight:bold;
	text-shadow:1px 2px 3px #111111;
	color:white;
	padding:5px;
	background-image:url("../images/menulateralhome.jpg");
	}
/*
 * menu
 */
.menu{
}
.menu ul{
    list-style: none;
    margin:0;
    padding:0;
    width:182px;
}
.menu ul li ul{
    width:182px;
}
.menu ul li{
    margin:0;
    padding:5px;
    background-color: #CCCCCC;
}
.menu ul li a{
    padding-top:5px;
    padding-left: 10px;
    display:block;
    text-decoration: none;
    color:white;
    background: #CCCCCC  no-repeat center right;
    line-height: 1.3em;
}
.menu ul li ul a{
    margin-top:2px;
    padding-left: 10px;
    display:block;
    text-decoration: none;
    color:white;
    font-size:14px;
    font-weight: normal;
    background: #0D0D0D;
}
.menu ul li a:hover{
    background: #8C8B8B  no-repeat center right;
}
.menu ul li ul a:hover{
    color:black;
}

.menu ul li ul{
    display:none;

}
#menulukas{
	text-align:center;
	height:140px;
	width:149px;
	background-image:url(../images/logolukastrans.png);
	background-repeat:no-repeat
	}
.menulisting{
	background-color:#FFFDEB;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	color:grey;
	}
#menuprincipallisting{
	display:block;
	font-weight:bold;
	margin-top:10px;
	}
#menuprincipallisting a{
	color:grey;}
#menusecundariolisting{
	font-size:10px;
	}
#menusecundariolisting a{
	color:grey;
	}
/*
 * contenido
 */

#contenido {
	position:relative;
	float:right;
	width:430px;
	}	

/*
 * youtube
 */

#menuland {
	width:302px;
	position:relative;
	top:40px;
	left:666px;
	}

#videillo{
	padding-bottom:3px;
}

#menulado{
	position:relative;
	top:-39px;
	width:302px;
	height:300px;
	background-color:#FFF;
	}

.menulaito img {
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

.menulaito img:hover {
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}


/*
 * banners laterales
 */
 	
#bannerlateral {
	position:fixed;
	top:5px;
	}
	
#internobannerlateral1 {
	position:relative;
	left:-310px;
	width:300px;
	height:1000px;
	background-image:url(../images/newlatinolifeposterback.jpg);
	}
	
#internobannerlateral2 {
	position:relative;
	left:1120px;
	top:-1000px;
	width:300px;
	height:1000px;
	background-image:url(../images/newlatinolifeposterback.jpg);
	}

.textotabs {
	height:94px;
	}

.titulotabs {
	font-weight:bold;
	}
	
.titulotabs a:visited {
	color:#090;
	}

.visionpage .views-row{
	height:110px;
	}
.bodypeople{
	font-size: 10px;
    left: 129px;
    width: 144px;
	}
.imagepeople{
	text-align:center;
	}
.galleryblock{
	background-image:url(../images/galleries.jpg);
	background-repeat:no-repeat;
	background-color:#fffdeb;
	height:180px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	width:263px;
	}
.gallerytitle{
	}
.whatpeoplesay {
    background-color: #FFFDEB;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 283px;
}
.reviewsblock{
	background-color: #fffdeb;
	background-image:url(../images/latestreview.jpg);
    background-repeat: no-repeat;
    height: 135px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    width: 263px;
}
.editorchioceblock{
	background-color: #fffdeb;
	background-image:url(../images/criticschoice.jpg);
    background-repeat: no-repeat;
    height: 135px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    width: 263px;
}
.motsviewblock{
	background-color: #fffdeb;
	background-image:url(../images/mostviewed.jpg);
    background-repeat: no-repeat;
    height: 135px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    width: 263px;
}
.mosviewimage {
    float: left;
}
.tiitlecolumna{
	float:right;
    width: 148px;
	}
.standfirstcolumna {
	float:right;
    width: 148px;
}
.newlatestreviewcolumnafinal{
	background-color: #fffdeb;
	background-image:url(../images/latestreview.jpg);
    background-repeat: no-repeat;
    height: 135px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    width: 263px;
	}
.readmorecolumna{
	font-size: 10px;
	float:right;
    }
.seccionarticletype {
	height: 0;
    font-size: 11px;
    left: 200px;
    position: relative;
    text-transform: uppercase;
    top: -183px;
}
.secciontitle {
	height: 0;
    font-size: 14px;
    font-weight: bold;
    left: 200px;
    position: relative;
    top: -160px;
}
.secciontitle a{
	color:#000;
}
.seccionstandfirst {
    height: 0;
    left: 200px;
    position: relative;
    top: -160px;
    width: 340px;
	font-family:Georgia;
}
.seccionreadmore {
    font-size: 10px;
    left: 480px;
    position: relative;
    top: -45px;
}

.whatsonsection {
	display:block;
	}
	
.whatsonsection .views-row {
	height:200px;
	}
.imagewhatson {
    height: 0;
	}
.seccionwhatson {
    font-size: 11px;
    text-transform: uppercase;
	color:red;
}
.seccionwhatson2 {
    font-size: 14px;
    margin-left: 185px;
    text-transform: uppercase;
	color:red;
}
.seccionwhatson3 {
    font-size: 11px;
    text-transform: uppercase;
	color:red;
}
.seccionwhatsonfood {
    font-size: 14px;
    text-transform: uppercase;
	color:red;
}
.seccionwhatson a{
	color:red;
	}
.seccionwhatson2 a{
	color:#339900;
	font-weight:bold;
	font-size:16px;
	}
.seccionwhatson3 a{
	font-weight:bold;
	color:#f2a448;
	}
.seccionwhatsonfood a{
	color:red;
	}
.titlewhatson {
    font-family: arial;
    font-size: 17px;
    margin-left: 200px;
}
.titlewhatson a{
	color:black;}
.standfirstwhatson {
	font-size:12px;
	}
.readmorewhatson {
    margin-left: 550px;
	font-size:10px;
	}
.node-teaser{
	height:220px;}
.field-content.seccionstyle {
    left: 112px;
    position: relative;
    top: -110px;
}
.field-content.seccionstyle a{
	color:#C2383D;
}
.articletypestyle{
	float:right;
	width:300px;
}
.articletypestyle a{
	color:#C2383D;
}
.media-youtube-video.media-youtube-2{
	float:right;
	margin-right:38px;
}
.node-readmore.first {
	float:right;
	font-size:10px;
	}
.comment_forbidden.last{
	float:right;
	font-size:10px;}
.menu-218 a{
	color:#64b348;}
.menu-459 a{
	color:#bd252b;}
.menu-524 a{	
	color:#f4b951;}
.menu-458 a{
	color:#bdd559;}
.menu-218 a.active{
	color:#64b348;}
.menu-459 a.active{
	color:#bd252b;}
.menu-524 a.active{	
	color:#f4b951;}
.menu-458 a.active{
	color:#bdd559;}
#addevent3 {
    border: medium solid #F4B951;
    padding: 11px 0;
    text-align: center;
    width: 114px;
	color:#BD252B;
	font-weight:bold;
}
#addevent2 {
    border: medium solid #006600;
    padding: 11px 0;
    text-align: center;
    width: 176px;
	color:#BD252B;
	font-weight:bold;
	display:block;
}
#addevent2 a{
	color:#BD252B;
	}
#addevent3 a{
	color:#BD252B;
}
	
#addevent4 {
    border: medium solid #F4B951;
    padding: 11px 0;
    text-align: center;
    width: 176px;
	color:#BD252B;
	font-weight:bold;

	}
.secciontitlefinal {
    font-size: 17px;
    text-transform: uppercase;
}
.secciontitlefinal a{
	color:#000;
}
.bannerhorizontalfinal {
	padding-top:10px; padding-right:36px;}
.titlefistcolum {
	}
.titlefistcolum a{
	}

.node-venues .field-name-field-type-of-venue {
	float:right;
	width:350px;
	}
.node-venues .field-type-taxonomy-term-reference {
	float:right;
	width:350px;
	}
.node-venues .field-type-image {
	float:left;}
.node-venues .field-name-field-adress {
	float:right;
	width:350px;
	}
.node-venues .field-name-body{
	float:right;
	width:350px;
	}
.node-venues .field-name-field-telephone{
	float:right;
	width:350px;
	}
.node-venues .field-name-field-website{
	float:right;
	width:350px;
	}
.node-venues .field-name-field-map{
	float:right;
	width:350px;
	}
#map{
	height:440px}
#norte{
	left: 200px;
    position: relative;
	}
#sur{
	left: 152px;
    position: relative;
    top: -596px;
	}
#oriente{
	left: 327px;
    position: relative;
    top: -511px;
	}
#occidente{
	left: 75px;
    position: relative;
    top: -98px;
	}
#centro{
	left: 234px;
    position: relative;
    top: -269px;
	}