body .tm_header {
	background-color:#f5f5f5 !important;
}
.footerin {
	background:#5a7ea0;
}
.widgettitle, .tmtagline_about_us_title a, .tmtagline_about_us_desc a {
	color:#3d3d3d;
}
.tm_top_menu {
	background:#e5e5e5;
}
.tm_top_menu_title a, .tm_top_menu_social a {
	color:#363F48;
}